---
import Layout from "@/layouts/Layout.astro";
import Greeting from "@/components/Greeting.tsx";
import { Image } from "astro:assets";
import pfp from "@/assets/images/high_qual_pfp_cropped_centered.jpg";
const allPosts = await Astro.glob("../pages/posts/*.md");
allPosts.sort(
  (a, b) =>
    Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
);
import PostPreview from "@/components/PostPreview.astro";
---

<Layout title="My Astro Blog">
  <section class="flex flex-col w-full items-center gap-4">
    <Greeting
      client:load
      messages={["Hello", "Hej", "Hallo", "Hola", "Habari"]}
    />
    <p class="font-extralight text-lg">
      Please enjoy some of my content! Thank you for visiting!
    </p>

    <Image
      src={pfp}
      alt="Cooper Wallace"
      width={200}
      height={200}
      quality={"max"}
      format="jpg"
      class="border-4 border-black dark:border-slate-500 drop-shadow-xl shadow-black rounded-full mx-auto mt-8"
    />
    <a href="/about"
      class="flex flex-col justify-center gap-4 border-2 border-dotted border-white p-4 rounded-md text-white"
    >
      <h1 class="text-base text-center">[~]$ whoami</h1>
      <h1 class="text-2xl text-center">Cooper Wallace</h1>
    </a>
    <section class="md:p-10 w-full py-2 sm:p-0">
      <h1 class="text-2xl text-center">Here are some recent posts</h1>
      <ul class="flex flex-col gap-2 animate-pulse-slow pl-0">
        {
          allPosts
            .slice(0, 5)
            .map((post) => (
              <PostPreview
                title={post.frontmatter.title}
                pubDate={post.frontmatter.pubDate}
                url={post.url}
                description={post.frontmatter.description}
                author={post.frontmatter.author}
                authorImage={post.frontmatter.authorImage}
                image={post.frontmatter.image}
                tags={post.frontmatter.tags}
                ttr={post.frontmatter.ttr}
              />
            ))
        }
        {
          allPosts.length >= 6 && (
            <a href="/blog" class="text-lg pl-4 hover:underline">
              See more...
            </a>
          )
        }
      </ul>
    </section>
  </section>
</Layout>
